# Node.js dependencies
node_modules/

# Build output
dist/
build/

# IDE and Editor directories
.vscode/
.idea/

# Environment variables
.env

# Log files
*.log

# Temporary files
*~
*.tmp
*.bak

# Test coverage reports
coverage/

# Prettier and ESLint config files
.prettierrc.json
.eslintrc.js
